body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
    min-height: 100vh;
}
main {
    min-width: 390px;
}
#schools {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#quote {
    margin-top: 8em;
}
small {
    font-size: 0.9em;
}
h2 {
    font-weight: normal;
}
h1,h2,p,small {
    margin: 0.2em 0;
}
@media (max-width: 768px) {
    body {
        margin-top: -10%;
    }
     #schools {
         flex-direction: column;
         gap: 2em;
     }
 }